.App {
    margin-right: 0px;
    margin-left: 5px;
    padding-left: 0px;
    padding-right: 0px;
    word-wrap: break-word;
    white-space: normal;
}
.App-content-row {
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 4px;
}
div.container-fluid {
    margin-right: 0px;
    margin-left: 0px;
    padding-left: 10px;
    padding-right: 10px;
    width: 100%;
    background-color: black;
}
div.container {
    margin-right: 0px;
    margin-left: 2px;
    padding-left: 10px;
    padding-right: 10px;
    width: 100%;
}
div.well {
    max-width: 95vw;
}
span {
    padding-left: 0px !important;
    margins: 0px;
}
span.App {
    padding-left: 5px;
    margin-left: 5px;
}
.kvp {
    padding-right: 1rem;
}
.App-header {
}
.App-footer {
    background-color: black;
    color: gold;
    backgroundColor: #F8F8F8;
    borderTop: 1px solid #E7E7E7;
    textAlign: center;
    position: fixed;
    padding-left: 10px;
    padding-top: 10px;
    left: 0px;
    bottom: 0px;
    height: 40px;
    width: 100%;
    display: block;
}
.App-anchor-ocmc {
    color: red;
}
.App-footer-short {
    display: none;
}
.App-footer-powered-by {

}
.App-footer-provided-by {
    color: white;
}
.App-footer-provided-by-part-2 {
    color: white;
    margin-left: 5px;
}
.App-footer-app-name {
    font-style: italic;
}
.App-grid {
}
.App-img-logo {
    margin-top: 7px;
    margin-right: 8px;
}
.App-img-logo-ocmc {
    margin-top: 3px;
}
.App-page-about {
}
.App-nav-dropdown {
    position: relative;
    top: -5px;
}
.App-title-full {
    color: gold;
    font-style: italic;
}
.App-title-short {
    display: none;
}
.App-flag {
    height: 1em;
    width: 1.3em;
}
.App-Modal-Para-Row-Editor {
    width: 80vw;
}
.modal-title {
    font-size: small;
    padding-bottom: 10px;
    color: #5bc0de;
}
.modal-content {
    max-width: 95vw;
}
.modal-container .modal, .modal-container .modal-backdrop {
    position: absolute;
}
#basic-nav-dropdown {
    padding-top: 21px;
    padding-left: 22px;
}
.App-search {
    margin: 10px;
}
.App-search-form {
    padding-top: 15px;
    padding-bottom: 15px;
    position: relative;
    background-color: #eaeced;
}
.App-Template-Editor-Button {
    margin: 2px;
}
.App-Template-Editor-Node-Button {
    ccolor: #2e6da4;
    margin-right: 2px;
}
.App-InputGroup-Static {
    background-color: white;
    border-color: #2e6da4;
}
.App-Template-Editor-Input {
    background-color: yellow;
    padding-bottom: 10px;
}
.rst__rowTitle {
    color: #5bc0de;
}
.rst__rowTitleWithSubtitle {
    color: #5bc0de;
    margin-bottom: 2px !important;
}
.rst__rowSubtitle {
    font-weight: bold;
    padding-top: 30px !important;
    margin-top: 10px !important;
}
.App-search-panel {
}
.App-text-search-icon {
    cursor: pointer;
}
.App-HyperToken {
}
.App-HyperToken-Index {
    padding-top: 5px;
    font-size: larger;
}
.App-HyperToken-Word {
    color: blue;
    cursor: pointer;
    padding-left: 10px !important;
}
.App-HyperToken-Word-Selected {
    color: blue;
    background-color: #bce8f1;
    cursor: pointer;
}
.App-iframe-wrapper {
    resize: vertical;
}
.App-font-awesome-spinner {
    margin-left: 30px;
    color: red;
    font-size: 20px !important;
}
.App-spinner-span {
    color: black;
    margin-left: 30px;
}
.panel-title {
    cursor: pointer;
}
.Navbar.Collapse {
    position: fixed;
    top: 6px;
    left: 500px;
    right: 0;
}
.navbar-brand {
    display: flex;
    position: relative;
    top: -14px;
}
.navbar-brand>img {
}
.navbar-header {
    z-index: 2000;
}
.navbar-nav {
    align-items: right !important;
    font-size: 100%;
}
.modal-title {
    font-size: smaller;
    padding-bottom: 10px;
    color: #5bc0de;
}
.App-Notes-Lister {
    margin-top: 0px !important;
}
.Select {
    max-width: 90vw;
}
.Schema-Based-Add-Button {
    margin-left: 10px;
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 0;
}
.App-Add-ico {
    padding: 5px !important;
}
.panel-title {
    color: #007eff !important;
    font-weight: bolder;
    cursor: pointer;
}

.label-warning {
    display: inherit;
}
a.collapsed {
    font-weight: 200;
}

.active {
    color: gold;
}

.control-label,  .resourceSelectorPrompt {
    margin-right: 8px;
    color: #5bc0de;
}
.App-Notes-Lister {
    margin-top: 0px !important;
}
.Schema-Based-Add-Button {
    padding: 1px;
}
.App-Add-ico {
    padding: 5px !important;
}
.App-login {
    margin: 20%;
}

.App-col-selector {
    width: 10px;
    min-width: 10px;
}
.App-row-selector {
    background-color: green;
    max-width: 10px;
}

.App-search-form-option-label {
    font-weight: 400;
    color: #007eff;
    padding: 10px;
}
.App-search-options {
    background-color: white;
}
.App-Search-Options-Text-Div {
}
.App-search-text-input {
    color: black;
    background-color: white;
    height: auto;
    padding-left: 12px;
    width: 80%;
    box-sizing: border-box;
    resize: vertical;
}
.App-search-by-id-parts-icon {
    color: black;
}
.form-control {
    color: black;
    background-color: white;
    height: auto;
    resize: vertical;
}

.modal-dialog {
    margin: 5vw !important;
    width: 90vw !important;
}
.App-search-form {
    background-color: #eaeced;
}

.App-search-results {
    margin: 10px;
}

.App-ParaRow-Text-Editor {
}
.row {
    margin: 0px;
}
.App-search-checkbox {
    margin: 10px;
}
.react-bs-table-container {
    margin-left: 20px;
    margin-right: 20px;
}
.react-bs-table table tr {
    padding: 10px;
    max-width: 80%;
}
.react-bs-table table td {
    white-space: -o-pre-wrap !important;
    word-wrap: break-word;
    white-space: pre-wrap;
    white-space: -moz-pre-wrap;
}

.fa {
    padding: 10px;
}

.fa-user-o {
    padding: 0px;
}

.fa-info-circle {
    color: green;
}
.fa-lightbulb-o {
    color: darkgoldenrod;
}
.fa-exclamation-triangle {
    color: red;
}

.App-header-ico {
    margin: 0px;
    padding: 0px;
}
.App-header-sub-item-ico {
    padding-right: 10px;
}
.App-header-ico.fa-info-circle {
    color: inherit;
}
.App-Well-From-Text {
    margin-bottom: 0px;
}
.App-Well-To-Text {
}
.App-Text-Refers-To {
    color: #5bc0de;
    padding-left: 20px;
}
div[class*='App-page'] {
    margin-top: 80px;
}
.modal-dialog {
    margin: 5vw !important;
    width: 90vw !important;
}
@media screen
and (max-width: 820px)
and (min-width: 200px) {
    .App-content-row {
        padding-top: 30px;
        padding-bottom: 30px;
        padding-left: 0px;
    }
    .App-img-logo {
        margin-top: -4px;
        margin-right: 8px;
    }
    .App-title-full {
        display: none;
    }
    .App-footer {
        padding-left: 10px;
        display: none;
    }
    .App-title-short {
        display: inline;
        color: gold;
        font-style: italic;
        margin-top: 10px;
    }
    .App-footer-short {
        background-color: black;
        color: gold;
        backgroundColor: #F8F8F8;
        borderTop: 1px solid #E7E7E7;
        textAlign: center;
        position: fixed;
        left: -5px;
        padding-top: 5px;
        bottom: 0px;
        height: 30px;
        width: 100%;
        display: block;
    }
    .navbar-brand {
        display: flex;
        position: relative;
        top: -8px;
    }
    .navbar-header {
        float: none;
    }
    .navbar-left,.navbar-right {
        float: none !important;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-fixed-top {
        top: 0;
        border-width: 0 0 1px;
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
        margin-top: 7.5px;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .collapse.in{
        display:block !important;
    }
}
div.App-logo.navbar-header {
    overflow: scroll;
}
.indent {
    width: 0 !important;
    margin-left: 0 !important;
    margin-right: 0 !important;
}
.list-group-item {
    padding-left: 0 !important;
    margin: 0 !important;
}
.treeview {
    padding-left: 1px !important;
    margin-left: 1px !important;
}
.list-group {
    padding-left: 0 !important;
    margin-left: 0 !important;
}
.App-Modal-Dependency-Diagram {
    width: 95vw;
}
.treeview {
    overflow: scroll;
}
.App-DependencyDiagram-Well {
    margin-left: 0 !important;
    padding-left: 0 !important;
}
.App-demo-version {
    margin-left: 20px;
    color: #5bc0de;
}
.App-Grammar-Well {
    padding-top: 15px;
    padding-bottom: 15px;
}
.App-Modal-Dependency-Diagram-Title {
    color: blue;
    font-weight: bold;
}
.App-Para-Col-Editor {
    padding-left: 15px;
}
.resourceSelector {
    max-width: 80%;
}
.App-table-filter-clear {
    float: right;
}
.Select {
    max-width: 90vw;
}
.App-Grammar-Well {
    padding-top: 15px;
    padding-bottom: 15px;
}
.App-Label-Selector-POS .Select-control{
    float: left;
    width: 45ch;
}
.App-Label-Selector-Dependency .Select-control{
    float: left;
    width: 45ch;
}
.App-Label-Selector-Referent .Select-control{
    float: left;
    width: 45ch;
}
.App-Label-Selector-Person .Select-control {
    width: 45ch;
}
.App-Label-Selector-Tense .Select-control {
    width: 45ch;
}
.App-Label-Selector-Voice .Select-control {
    width: 45ch;
}
.App-Label-Selector-Mood .Select-control {
    width: 45ch;
}
.App-Label-Selector-Gender .Select-control {
    width: 45ch;
}
.App-Label-Selector-Number .Select-control {
    width: 45ch;
}
.App-Label-Selector-Case .Select-control {
    width: 45ch;
}
.App-TokenTagger-Lemma {
    width: 45ch;
    padding-left: 8pt;
}
.App-TokenTagger-Gloss {
    width: 45ch;
    padding-left: 8pt;
}
.App-Label-Selector-Help {
    padding-top: 10px;
}
.App-data-tr {
    max-width: 90%;
}

textarea { resize: both; }

svg {
    background-color: black;
}
.node circle {
    fill: #F3F3FF;
    stroke: #2593B8;
    stroke-width: 1.5px;
}

.node text {
    font-size: 11px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    background-color: #444;
    fill: gold;
    text-shadow: 0 1px 4px black;
}

path.link {
    fill: none;
    stroke: #2593B8;
    stroke-width: 1.5px;
}

.AppDependencyNode {
    cursor: pointer;
}

.AppDependencyNodeToken {
    color: blue;
    font-size: large;
}
.AppDependencyNodeLemma {
    color: blue;
    font-size: small;
}
.AppDependencySelectedNode {
    background-color: #bfe6ff;
}
.AppDependencyNodeGloss {
    font-size: small;
}
.AppDependencyNodeLabel {
    text-align: center;
    color: red;
    font-style: italic;
    font-size: xx-small;
}
.App-Modal-Para-Row-Editor {
    width: 90vw;
}
.App-Modal-Id-Builder {
    width: 90vw;
}
.App-id-builder {
    width: 85vw;
}
.App-id-builder-header {
    width: 85vw;
}
.App-modal-body {
    background-color: #eaeced;
}
.alert {
    margin-top: 10px;
}
.App-modal-alert {
    margin: 20px;
}
.glyphicon {
    padding-right: 10px;
}
.App-Selection-Row {
    margin-top: 10px;
    width: 100%;
}
.App-Ages-Table-Row {
    margin: 10px;
}
.App-Info-Row {
    margin-top: 10px;
}
.App-Grid {
    margin-left: 0px;
    margin-right: 0px;
    padding-left: 0px;
    padding-right: 0px;
    width: 100%;
}
.App-Modal-Editor-TextArea {
    width: 100%;
}

.App-page-home-welcome-title {
    text-align: center;
    color: blue;
}

.App-page-home-welcome-text {
    padding-left: 20px;
}
.boxsizingBorder {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.Button-Select {
    margin: 2px;
}
.Button-Select-FontAwesome {
    padding-left: 0px;
}
.Button-Cancel {
    margin: 2px;
}
.App-DependencyDiagram-Node-Key {
    padding-left: 4px;
}
.App-DependencyDiagram-Node-Label {
    color: firebrick;
    padding-left: 4px;
}
.App-DependencyDiagram-Node-Token {
    font-weight: bold;
    padding-left: 4px;
}
.App-DependencyDiagram-Node-Gloss {
    color: darkgreen;
    padding-left: 4px;
}
.App-DependencyDiagram-Node-Grammar {
    color: black;
    padding-left: 4px;
}
.App-DependencyDiagram-Node-Lemma {
    padding-left: 4px;
}
.App-about-list-item {
    font-size: larger;
}
.jumbotron {
    padding: 10px;
}
.App-Text-Note-Text-Source {
    padding-left: 10px;
    font-size: smaller;
}
.App-Text-Note-Editor {
    margin-left: 20px;
}
.App-Text-Note-Editor-Type-Row {
    margin-top: 0px;
}
.App-Text-Note-Editor-Scope-Row {
    margin-top: 0px;
}
.App-Text-Note-Editor-Scope-Biblical-Row {
    margin-bottom: 8px;
}
.App-Text-Note-Editor-Lemma-Row {
    margin-top: 0px;
}
.App-Text-Note-Editor-Title-Row {
    margin-top: 0px;
}
.App-Bible-Ref-Selector-Row {
    margin-top: 8px;
}
.App-Ontology-Ref-Selector-Row {
    margin-top: 0px;
}
.App-Text-Note-Editor-Library-Row {
    margin-top: 0px;
}
.App-Text-Note-Editor-Scope {
    height: auto;
    width: 80%;
    box-sizing: border-box;
    padding-left: 4px;
}
.App-Text-Note-Editor-Lemma {
    margin-top: 8px;
    height: auto;
    width: 80%;
    box-sizing: border-box;
    padding-left: 4px;
}
.App-Text-Note-Editor-Title {
    margin-top: 8px;
    height: auto;
    width: 80%;
    box-sizing: border-box;
    padding-left: 4px;
}
.mce-container-body {
    width: 80vw;
}
.mce-branding {
    visibility: hidden !important;
}
.App-Text-Note-Header-Scope-Glyph {
    padding-left: 8px !important;
    padding-right: 8px !important;
}
.App-Text-Note-Type-As-Heading {
    margins: 0px;
    padding: 0px;
    font-weight: bold;
    font-size: larger;
}
.App-Text-Note-Type-Glyph {
    margin-left: 10px !important;
}
.App-Text-Note-Type {
    text-align: center;
}
.App-Text-Note-Type-Selector {
    width: 100%;
}
.App-Text-Note-formatted {
    color: black;
    background-color: white;
    padding: 10px;
    text-align: justify;
    word-spacing:normal;
    text-justify: auto;
    overflow-wrap: break-word;
}
.App-Text-Note-Header-Scope {
    font-weight: bold;
    text-justify: none;
    display: inline-block;
}

.App-Text-Note-Header-Scope-Biblical {
    font-weight: bold;
    text-justify: none;
    display: inline-block;
}
.App-Text-Note-Header-Scope-Ontological {
    font-weight: bold;
    text-justify: none;
    display: inline-block;
}
.App-Text-Note-Header-Lemma {
    font-weight: bold;
    font-style: italic;
    text-justify: none;
    display: inline-block;
    margin-left: 5px !important;
}

.App-Text-Note-Header-Title {
    font-weight: bold;
    text-justify: none;
    display: inline-block !important;
    margin-left: 5px !important;
    margin-right: 5px;
}

.App-Text-Note-Header-Note > p {
    text-justify: inter-word;
    display: inline-block;
}
.App-Text-Note-Header-Note > ul {
    padding-left: 16px;
}
.App-Text-Note-Header-Note > li {
}
.App-no-display {
    margins: 0px;
    padding: 0px;
    display: none;
}

.App-Bible-Ref-Selector-Label {
    padding-left: 10px;
}
.App-Bible-Ref-Selector-Container {
    display: inline-flex;
}
.App-Bible-Ref-Selector-Book .Select-control{
    float: left;
    width: 27ch;
}
.App-Bible-Ref-Selector-Chapter .Select-control{
    float: left;
    width: 12ch;
}
.App-Bible-Ref-Selector-Verse .Select-control{
    float: left;
    width: 12ch;
}
.App-Ontology-Ref-Selector-Container {
    display: inline-block;
    max-width: 80vw;
}
.App-Ontology-Ref-Selector-Type .Select-control{
    float: left;
    width: 30ch;
}
.App-Ontology-Ref-Selector-Entity{
    width: 100%;
}
.App-Button {
    margin-top: 10px;
    margin-right: 5px;
    display: inline-block;
}
.App-Workflow-Selector-Row {

}
.App-Workflow-Selector-Label {

}
.App-Workflow-Selector-Dropdown {

}
.Select-control {
    margin-bottom: 10px;
}

.App-Text-Note-Editor-Button-Row {
}
.App-Text-Editor-Workflow-Glyph {
    color: #5bc0de;
}
.App-Workflow-Selector-icon {
    margin: 0px;
    padding-left: 0px;
    padding-right: 10px;
    display: inline;
}
.App-search-text-input {
    margin-bottom: 8px;
}
.rdw-editor-main {
    background-color: white;
}

.DraftEditor-root {
    background: #fff;
    border: 1px solid #ddd;
    font-family: 'Georgia', serif;
    font-size: 14px;
    padding: 15px;
}

.RichEditor-editor {
    border-top: 1px solid #ddd;
    cursor: text;
    font-size: 16px;
    margin-top: 10px;
}
.rdw-editor-wrapper {
    border-style: solid;
    border-width: thin;
    border-color: lightgrey;
}
.rdw-inline-wrapper {
    border-right-style: solid;
    border-right-width: thin;
    border-right-color: lightgrey;
}
.rdw-list-wrapper {
    border-left-style: solid;
    border-left-width: thin;
    border-left-color: lightgrey;
}
.rdw-link-wrapper {
    border-left-style: solid;
    border-left-width: thin;
    border-left-color: lightgrey;
}
.rdw-history-wrapper {
    border-left-style: solid;
    border-left-width: thin;
    border-left-color: lightgrey;
}
.Text-Note-Add-Button {
    margin-left: 10px;
    padding: 1px;
}
.App-Window-Launch {
    cursor: pointer;
    font-style: italic;
}
.active {
    color: inherit !important;
}

.btn {
    padding-left: 5px;
    padding-right: 5px;
}
.App-Download-Row {
    margin-top: 30px;
}
.App-Download-Col {
    text-align: center;
}
.App-video-player {
    margin-top: 50px;
}
.App-Help-panel {

}
.App-Youtube-panel {

}
.App-Youtube-text {

}
.App-Youtube-player {
    margin-top: 50px;
}
.rdw-suggestion-dropdown {
    width: 50vw !important;
    background: #d9edf7 !important;
}
.rdw-suggestion-option {
    padding-left: 15px !important;
    border-bottom-color: #9d9d9d !important;
}
a.rdw-mention-link {
    cursor: pointer;
}
.public-DraftEditor-content {
    min-height: 200px;
}
.App-Add-Button {
    margins: 0px !important;
    padding: 0px !important;
    position: relative !important;
    top: 25px;
}
.App-Add-Library-Selector {
    padding: 0px !important;
    margins: 0px !important;
    position: relative !important;
    right: 0px;
}
.App-Add-Type-Selector {
    padding: 0px !important;
    margins: 0px !important;
    position: relative !important;
    right: 0px;
}
.App-Add-Key {
    padding: 0px !important;
    margins: 0px !important;
    position: relative !important;
    top: 20px;
}
.App-BibTex-Notice {
    padding-top: 15px;
}
.App-Delete-Button {
    margin-left: 40px;
}
.App-Text-Note-Editor-Button-Row {
    margin-left: 10px;
}
.App-Add-Biblio-Button {
    position: relative;
    left: 58px;
    margin-top: 10px;
}


.App-PDF-Title {
    padding-left: 4px;
    margin-bottom: 4px;
}
.App-PDF-Author {
    padding-left: 4px;
    margin-bottom: 4px;
}
.App-PDF-BibStyle-Dropdown {
    margin-left: 5px;
}

.App-See-Biblatex {
    margin-top: 30px;
}

.App-Label-Editor-Row {
    margin-top: 20px;
}
.App-Label-Editor-New-Key {
    margin-bottom: 10px;
}
.App-Label-Editor-New-Value {
    margin-bottom: 10px;
}

.App-Domain-Builder-Well {
    width: 66vw;
}
.App-Domain-Builder {
    margin-top: 20px;
}
.App-Domain-Builder-Checkbox {
    margin-top: -18px;
}
.editMessage {
    color: red;
}

.App-Tagger-Tabs {
    margin-top: 12px;
    margin-left: 20px;
}
.App-Token-Tagger-OED-glyphicon {
    margin-left: 20px;
}



.input-group-addon {
    width: 20px !important;
    padding-left: 10px !important;
}
#app-datepicker_group {
}
.App-Modal-Close-Button {
    float: left;
    margin-left: -15px;
    margin-top: 4px;
}
.App-Pub-Date-Selector {
    margin-bottom: 5px;
}


.App-Template-Editor-Submit-Row {
    padding-top: 20px;
}
.App-Modal-Template-Editor .modal-content {
    height: 90% !important;
    min-height: 90% !important;
    width: 90% !important;
    max-width: 90% !important;
    border-radius: 0 !important;
    overflow: visible !important;
}

.App-Modal-Template-Editor .modal-body {
    height: auto !important;
    min-height: 100vw !important;
    border-radius: 0 !important;
    overflow: visible !important;
}

.splitter-layout {
    margin: 0 !important;
    padding: 0 !important;
    border-radius: 0 !important;
    overflow: visible !important;
    max-width: 76vw !important;
}

.splitter-layout .layout-pane {
    position: relative;
    flex: 0 0 auto;
    overflow: auto;
    max-width: 90vw;
}

.splitter-layout .layout-pane.layout-pane-primary {
    flex: 1 1 auto;
}

.splitter-layout > .layout-splitter {
    flex: 0 0 auto;
    width: 4px;
    height: 100%;
    cursor: col-resize;
    background-color: #ccc;
}

.splitter-layout .layout-splitter:hover {
    background-color: #bbb;
}

.splitter-layout.layout-changing {
    cursor: col-resize;
}

.splitter-layout.layout-changing > .layout-splitter {
    background-color: #aaa;
}

.splitter-layout.splitter-layout-vertical {
    flex-direction: column;
}

.splitter-layout.splitter-layout-vertical.layout-changing {
    cursor: row-resize;
}

.splitter-layout.splitter-layout-vertical > .layout-splitter {
    width: 100%;
    height: 4px;
    cursor: row-resize;
}
.App-Form-Delete-Button {
    margin-left: 100px;
}