div.container-fluid {
    margin-right: 0px;
    margin-left: 0px;
    padding-left: 10px;
    padding-right: 10px;
    width: 100%;
    background-color: black;
}
.App-header {
    z-index: -1;
}
.App-img-logo {
    position: fixed;
    top: 18px;
    z-index: 2000;
}
.App-title {
    z-index: 8999;
    position: absolute;
    top: 23px;
    left: 110px;
    color: gold;
    font-size: large;
    font-style: italic;
}
.App-flag {
    height: 1em;
    width: 1.3em;
}

#basic-nav-dropdown {
    padding-top: 21px;
    padding-left: 22px;
}
.App-search-form {
    padding-top: 15px;
    padding-bottom: 15px;
}
.App-search-panel {
    cursor: pointer;
}
.App-text-search-icon {
    cursor: pointer;
}
.panel-title {
    cursor: pointer;
}
.Navbar.Collapse {
    position: fixed;
    top: 6px;
    left: 500px;
    right: 0;
}
.navbar-brand {
    display: flex;
    align-items: center;
}
.navbar-brand>img {
}

.panel-title {
    color: #007eff;
    font-weight: bolder;
}

.label-warning {
    display: inherit;
}
a.collapsed {
    font-weight: 200;
}

.active {
    color: gold;
}

.control-label,  .resourceSelectorPrompt {
    color: #5bc0de;
}

.App-login {
    margin: 20%;
}

.App-col-selector {
    width: 10px;
    min-width: 10px;
}
.App-row-selector {
    background-color: green;
    max-width: 10px;
}

.App-search-form-option-label {
    font-weight: 400;
    color: #007eff;
    padding: 10px;
}
.App-search-options {
    background-color: white;
}
.App-search-text-input {
    color: black;
    background-color: white;
    height: auto;
    width: 76%;
    resize: vertical;
}
.App-search-by-id-parts-icon {
    color: black;
}
.form-control {
    color: black;
    background-color: white;
    height: auto;
    resize: vertical;
}


.App-search-form {
    background-color: #eaeced;
}

.App-search-results {
    background-color: #eaeced;
}

.row {
    margin: 0px;
}

.App-search-checkbox {
    margin: 10px;
}
.react-bs-table table tr {
    padding: 10px;
    max-width: 80%;
}
.react-bs-table table td {
    white-space: -o-pre-wrap !important;
    word-wrap: break-word;
    white-space: pre-wrap;
    white-space: -moz-pre-wrap;
}

.fa {
    padding: 10px;
}

.fa-user-o {
    padding: 0px;
}

.fa-info-circle {
    color: green;
}
.fa-lightbulb-o {
    color: darkgoldenrod;
}
.fa-exclamation-triangle {
    color: red;
}

.App-header-ico.fa-info-circle {
    color: inherit;
}
.modal-container {
    position: relative;
}
.modal-container .modal, .modal-container .modal-backdrop {
    position: absolute;
}
div[class*='App-page'] {
    margin-top: 80px;
}
@media (max-width: 875px) {
    .App-img-logo {
        top: 9px;
    }
    .App-title {
        top: 14px;
        font-size: 15px;
    }
    .navbar-header {
        float: none;
    }
    .navbar-left,.navbar-right {
        float: none !important;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-fixed-top {
        top: 0;
        border-width: 0 0 1px;
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
        margin-top: 7.5px;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .collapse.in{
        display:block !important;
    }
}
div.App-logo.navbar-header {
    overflow: scroll;
}

.App-demo-version {
    margin-left: 20px;
    color: #5bc0de;
}
.Select-control {
    max-width: 80%;
}
.App-data-tr {
    max-width: 90%;
}

textarea { resize: both; }

