div.container-fluid {
    margin-right: 0px;
    margin-left: 0px;
    padding-left: 10px;
    padding-right: 10px;
    width: 100%;
    background-color: black;
}
div.container {
    margin-right: 0px;
    margin-left: 0px;
    padding-left: 10px;
    padding-right: 10px;
    width: 100%;
}
.App-header {
    z-index: -1;
}
.App-img-logo {
    position: fixed;
    top: 18px;
    z-index: 2000;
}
.App-title {
    z-index: 8999;
    position: absolute;
    top: 23px;
    left: 110px;
    color: gold;
    font-size: large;
    font-style: italic;
}
.App-flag {
    height: 1em;
    width: 1.3em;
}
.App-Modal-Para-Row-Editor {
    width: 80vw;
}
.modal-title {
    font-size: small;
    padding-bottom: 10px;
    color: #5bc0de;
}
.modal-content {
    max-width: 95vw;
}
.modal-container .modal, .modal-container .modal-backdrop {
    position: absolute;
}
#basic-nav-dropdown {
    padding-top: 21px;
    padding-left: 22px;
}
.App-search-form {
    padding-top: 15px;
    padding-bottom: 15px;
    position: relative;
    background-color: #eaeced;
}
.App-Template-Editor-Button {
    margin: 2px;
}
.App-Template-Editor-Node-Button {
    color: #2e6da4;
    margin-right: 2px;
}
.App-InputGroup-Static {
    background-color: white;
    border-color: #2e6da4;
}
.App-Template-Editor-Input {
    background-color: yellow;
    padding-bottom: 10px;
}
.rst__rowTitle {
    color: #5bc0de;
}
.rst__rowTitleWithSubtitle {
    color: #5bc0de;
    margin-bottom: 2px !important;
}
.rst__rowSubtitle {
    font-weight: bold;
    padding-top: 30px !important;
    margin-top: 10px !important;
}
.App-search-panel {
}
.App-text-search-icon {
    cursor: pointer;
}
.App-HyperToken {
}
.App-HyperToken-Index {
    font-size: larger;
}
.App-HyperToken-Word {
    color: blue;
    cursor: pointer;
}
.App-HyperToken-Word-Selected {
    color: blue;
    background-color: #bce8f1;
    cursor: pointer;
}
.App-iframe-wrapper {
    resize: vertical;
}
.App-font-awesome-spinner {
    color: red;
}
.panel-title {
    cursor: pointer;
}
.Navbar.Collapse {
    position: fixed;
    top: 6px;
    left: 500px;
    right: 0;
}
.navbar-brand {
    display: flex;
    align-items: center;
}
.navbar-brand>img {
}

.panel-title {
    color: #007eff;
    font-weight: bolder;
}

.label-warning {
    display: inherit;
}
a.collapsed {
    font-weight: 200;
}

.active {
    color: gold;
}

.control-label,  .resourceSelectorPrompt {
    color: #5bc0de;
}
.App-Notes-Lister {
    margin-top: 0px !important;
}
.Schema-Based-Add-Button {
    padding: 1px;
}
.App-Add-ico {
    padding: 5px !important;
}
.App-login {
    margin: 20%;
}

.App-col-selector {
    width: 10px;
    min-width: 10px;
}
.App-row-selector {
    background-color: green;
    max-width: 10px;
}

.App-search-form-option-label {
    font-weight: 400;
    color: #007eff;
    padding: 10px;
}
.App-search-options {
    background-color: white;
}
.App-Search-Options-Text-Div {
}
.App-search-text-input {
    height: auto;
    padding-left: 12px;
    width: 80%;
    box-sizing: border-box;
}
.App-search-by-id-parts-icon {
    color: black;
}
.form-control {
    color: black;
    background-color: white;
    height: auto;
    resize: vertical;
}

.App-search-results {
    background-color: #eaeced;
}

.App-ParaRow-Text-Editor {
    background-color: #eaeced;
}
.row {
    margin: 0px;
}

.App-search-checkbox {
    margin: 10px;
}
.react-bs-table table tr {
    padding: 10px;
    max-width: 80%;
}
.react-bs-table table td {
    white-space: -o-pre-wrap !important;
    word-wrap: break-word;
    white-space: pre-wrap;
    white-space: -moz-pre-wrap;
}

.fa {
    padding: 10px;
}

.fa-user-o {
    padding: 0px;
}

.fa-info-circle {
    color: green;
}
.fa-lightbulb-o {
    color: darkgoldenrod;
}
.fa-exclamation-triangle {
    color: red;
}

.App-header-ico.fa-info-circle {
    color: inherit;
}
.App-Well-From-Text {
    margin-bottom: 0px;
}
.App-Well-To-Text {
}
.App-Text-Refers-To {
    color: #5bc0de;
    padding-left: 20px;
}
div[class*='App-page'] {
    margin-top: 80px;
}
.modal-dialog {
    margin: 5vw !important;
    width: 90vw !important;
}
@media (max-width: 875px) {
    .App-img-logo {
        top: 9px;
    }
    .App-title {
        top: 14px;
        font-size: 15px;
    }
    .navbar-header {
        z-index: 2000;
        float: none;
    }
    .navbar-left,.navbar-right {
        float: none !important;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-fixed-top {
        top: 0;
        border-width: 0 0 1px;
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
        margin-top: 7.5px;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .collapse.in{
        display:block !important;
    }
}
div.App-logo.navbar-header {
    overflow: scroll;
}
.indent {
    width: 0 !important;
    margin-left: 0 !important;
    margin-right: 0 !important;
}
.list-group-item {
      padding-left: 0 !important;
      margin: 0 !important;
}
.treeview {
    padding-left: 1px !important;
    margin-left: 1px !important;
}
.list-group {
    padding-left: 0 !important;
    margin-left: 0 !important;
}
.App-Modal-Dependency-Diagram {
    width: 95vw;
}
.treeview {
    overflow: scroll;
}
.App-DependencyDiagram-Well {
    margin-left: 0 !important;
    padding-left: 0 !important;
}
.App-demo-version {
    margin-left: 20px;
    color: #5bc0de;
}
.App-Para-Col-Editor {
    padding-left: 15px;
    max-width: 60vw;
}
.resourceSelector {
    max-width: 80%;
}
.App-table-filter-clear {
    float: right;
}
.Select {
    max-width: 90vw;
}
.App-Grammar-Well {
    padding-top: 15px;
    padding-bottom: 15px;
}
.App-Label-Selector-POS .Select-control{
    float: left;
    width: 45ch;
}
.App-Label-Selector-Dependency .Select-control{
    float: left;
    width: 45ch;
}
.App-Label-Selector-Referent .Select-control{
    float: left;
    width: 45ch;
}
.App-Label-Selector-Person .Select-control {
    width: 45ch;
}
.App-Label-Selector-Tense .Select-control {
    width: 45ch;
}
.App-Label-Selector-Voice .Select-control {
    width: 45ch;
}
.App-Label-Selector-Mood .Select-control {
    width: 45ch;
}
.App-Label-Selector-Gender .Select-control {
    width: 45ch;
}
.App-Label-Selector-Number .Select-control {
    width: 45ch;
}
.App-Label-Selector-Case .Select-control {
    width: 45ch;
}
.App-TokenTagger-Lemma {
 width: 45ch;
}
.App-TokenTagger-Gloss {
    width: 45ch;
}
.App-Label-Selector-Help {
    padding-top: 10px;
}
.App-data-tr {
    max-width: 90%;
}

textarea { resize: both; }

svg {
    background-color: black;
}
.node circle {
    fill: #F3F3FF;
    stroke: #2593B8;
    stroke-width: 1.5px;
}

.node text {
    font-size: 11px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    background-color: #444;
    fill: gold;
    text-shadow: 0 1px 4px black;
}

path.link {
    fill: none;
    stroke: #2593B8;
    stroke-width: 1.5px;
}

.App-Modal-Para-Row-Editor {
    width: 90vw;
}
.App-Modal-Id-Builder {
    width: 90vw;
}
.App-id-builder {
    width: 85vw;
}
.App-id-builder-header {
    width: 85vw;
}
.App-modal-body {
    background-color: #eaeced;
}
.alert {
    margin-top: 10px;
}
.App-modal-alert {
    margin: 10px;
}
.glyphicon {
    padding-right: 10px;
}
.App-Selection-Row {
    margin-top: 10px;
    width: 100%;
}
.App-Ages-Table-Row {
    margin-top: 10px;
}
.App-Info-Row {
    margin-top: 10px;
}
.App-Grid {
    margin-left: 0px;
    margin-right: 0px;
    padding-left: 0px;
    padding-right: 0px;
    width: 100%;
}
.App-Modal-Editor-TextArea {
    width: 100%;
}
.boxsizingBorder {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.Button-Select {
    margin: 2px;
}
.Button-Select-FontAwesome {
    padding-left: 0px;
}
.Button-Cancel {
    margin: 2px;
}
.App-DependencyDiagram-Node-Key {
    padding-left: 4px;
}
.App-DependencyDiagram-Node-Label {
    color: firebrick;
    padding-left: 4px;
}
.App-DependencyDiagram-Node-Token {
    font-weight: bold;
    padding-left: 4px;
}
.App-DependencyDiagram-Node-Gloss {
    color: darkgreen;
    padding-left: 4px;
}
.App-DependencyDiagram-Node-Grammar {
    color: black;
    padding-left: 4px;
}
.App-DependencyDiagram-Node-Lemma {
    padding-left: 4px;
}
